{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'fuel/css/abastecimentos.css' %}" rel="stylesheet">
{% endblock 'cabecalho' %}

{% block 'conteudo' %}

    <div class="container">
        <br>
        <br>
        <div class="row">

            <div class="col-md">

                <div class="box-form">
                    <form action="" method="POST"> {% csrf_token %}
                        <h3>Abastecimentos</h3>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label>Veículo</label>
                                <select name="veiculo" id="" class="form-select">
                                    {% for veiculo in veiculo %}
                                    <option value="{{veiculo.id}}">{{veiculo}}</option>
                                    {% endfor %}
                            </select>
                            </div>
                            <br>
                            <div class="col-md">
                                <label>Data do abastecimento</label>
                                <input type="date" class="form-control" name="dt_abast">
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md">
                                <label for="">Combustível</label>
                                <select class="form-select" name="combustivel">
                                    {% for combustivel in combustivel %}
                                    <option value="{{combustivel.id}}">{{combustivel}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label for="">Posto de Abastecimento</label>
                                <input type="text" class="form-control" placeholder="Posto" name="posto" >
                            </div>
                                <br>
                            <div class="col-md">
                                <label for="">Km Inicial</label>
                                <input type="text" class="form-control" placeholder="KM Inicial" name="km_inicial">
                                <br>
                                <label for="">Km Final</label>
                                <input type="text" class="form-control" placeholder="KM Final" name="km_final">
                                <br>
                            </div>

                        </div>
                        <br>
                        <input type="submit" value="Enviar" class="btn-cadastro">
                        <br>
                        <br>
                        <br>
                    </form>
                </div>

            </div>
            <div class="col-md">
                <form action="" method="GET">
                    <div class="row">
                        <div class="col-md">
                            <label for="">Veículo</label>
                            <select name="veiculo" id="" class="form-select">
                                    {% for veiculo in veiculo %}
                                    <option value="{{veiculo.id}}">{{veiculo}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="">Data de abastecimento</label>
                            <input type="date" name="dt_abast" id="" class="form-control">
                        </div>
                        <div class="col-md">
                            <br>
                            <input type="submit" style="width: 100%" value="Filtrar" class="btn-cadastro">
                        </div>
                    </div>

                </form>

                <br>
                <br>

                    <div class="box-novo-abastecimento">
                        <div class="abastecimento">

                            <div class="flashcard-veiculo">
                                **Nome do Carro**
                            </div>
                            <a href=""><i class='icone-exit bx bx-x-circle'></i></a>
                            <br>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">Kms Rodados (Final - Inicial)</p>
                            </div>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">Média Km rodados por litro</p>
                            </div>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">Custo por Litro</p>
                            </div>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">Km por Litro</p>
                            </div>
                            <div class="flashcard-box-item">
                                <p class="flashcard-item">Custo por Km</p>
                            </div>

                        </div>
                        <div class="resultado-abastecimento-bom">
                            ✅ Parabéns seu carro está realizado a média definida pela montadora.
                        </div>
                        <br>
                        <div class="resultado-abastecimento-ruim">
                            ❌ Ops! Temos um probleminha com média de combustível do seu veículo.
                        </div>
                        <br>
                        <div class="resultado-abastecimento-dicas">
                            ⚠️ Dê uma olhada em algumas recomendações que temos para você!
                        </div>
                    </div>
                    <br>
                    <br>


            </div>
        </div>
    </div>

{% endblock 'conteudo' %}